@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --default-font-family: var(--font-poppins);
  --color-background: linear-gradient(180deg, hsl(0, 0%, 90%) 0%, hsl(0, 0%, 98%) 100%);
  --color-foreground: hsl(0, 0%, 5%);
  --color-secondary-bg: hsl(0, 0%, 85%);
  --color-accent: hsl(181, 61%, 36%);
  --color-accent-secondary: hsl(1, 61%, 36%);
  --color-muted: hsl(0, 0%, 50%);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
}

@layer theme {
  .dark {
    --color-background: linear-gradient(180deg, hsl(0, 0%, 0%) 0%, hsl(0, 0%, 11%) 100%);
    --color-foreground: hsl(0, 0%, 95%);
    --color-secondary-bg: hsl(0, 0%, 15%);
    --color-accent: hsl(181, 100%, 56%);
    --color-accent-secondary: hsl(1, 97%, 57%);
    --color-muted: hsl(0, 0%, 50%);
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: linear-gradient(180deg, hsl(0, 0%, 0%) 0%, hsl(0, 0%, 11%) 100%);
    --color-foreground: hsl(0, 0%, 95%);
  }
} */

/* Can be used to make theme automatic */

body {
  background: var(--color-background);
  color: var(--color-foreground);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  overflow-y: scroll;
}