.wrapper {
    /* control size here */
    --dot-size: calc(var(--size) * 0.22);
    /* relative dot size */
    --offset: calc(var(--size) * 0.64);
    /* for rays */
    --diagonal: calc(var(--offset) * 0.65);
    /* diagonal rays */

    display: inline-block;
}

.wrapper input+div {
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    position: relative;
    box-shadow: inset calc(var(--size) * 0.39) calc(var(--size) * -0.39) 0 0 var(--color-toggle-dark, #000);
    transform: scale(1) rotate(-2deg);
    transition: box-shadow 0.5s ease, transform 0.4s ease 0.1s;
}

.wrapper input+div {
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    position: relative;
    box-shadow: inset calc(var(--size) * 0.39) calc(var(--size) * -0.39) 0 0 var(--color-toggle-dark, #000);
    transform: scale(1) rotate(-2deg);
    transition: box-shadow 0.5s ease 0s, transform 0.4s ease 0.1s;
}

.wrapper input+div::before {
    content: "";
    width: inherit;
    height: inherit;
    border-radius: inherit;
    position: absolute;
    left: 0;
    top: 0;
    transition: background 0.3s ease;
}

.wrapper input+div::after {
    content: "";
    width: calc(var(--size) * 0.22);
    height: calc(var(--size) * 0.22);
    border-radius: 50%;
    margin: calc(var(--size) * -0.11) 0 0 calc(var(--size) * -0.11);
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow:
        0 calc(var(--size) * -0.64) 0 var(--color-toggle-light, #eee),
        0 calc(var(--size) * 0.64) 0 var(--color-toggle-light, #eee),
        calc(var(--size) * 0.64) 0 0 var(--color-toggle-light, #eee),
        calc(var(--size) * -0.64) 0 0 var(--color-toggle-light, #eee),
        calc(var(--size) * 0.42) calc(var(--size) * 0.42) 0 var(--color-toggle-light, #eee),
        calc(var(--size) * -0.42) calc(var(--size) * 0.42) 0 var(--color-toggle-light, #eee),
        calc(var(--size) * 0.42) calc(var(--size) * -0.42) 0 var(--color-toggle-light, #eee),
        calc(var(--size) * -0.42) calc(var(--size) * -0.42) 0 var(--color-toggle-light, #eee);
    transform: scale(0);
    transition: all 0.3s ease;
}

.wrapper input:checked+div {
    box-shadow: inset calc(var(--size) * 0.89) calc(var(--size) * -0.89) 0 0 #fff;
    transform: scale(0.5) rotate(0deg);
    transition: transform 0.3s ease 0.1s, box-shadow 0.2s ease 0s;
}

.wrapper input:checked+div::before {
    background: var(--color-toggle-light, #eee);
    transition: background 0.3s ease 0.1s;
}

.wrapper input:checked+div::after {
    transform: scale(1.5);
    transition: transform 0.5s ease 0.15s;
}